body{
    background: rgb(63,94,251);

    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

p{
    justify-content: center;
    display: flex;
    border: 1px solid;;
}

div{
    justify-content: center;
    display: flex;
}